.item {
   color: white;
   font-weight: bold;
   font-size: x-large;
   font-variant: small-caps;
   height: .75rem;
}

.precio {
   color: white;
   font-size: larger;
   vertical-align: middle;
   text-align: center;
   color: green;
}

.descripcion {
   color: white;
   font-style: italic;
   font-size: 1rem;
}

.elemento {
   margin-bottom: auto;
}

.logo img {
   z-index: -100;
   width: 88px;
   height: 88px;
   border-radius: 44px;
   border: 2px solid white;
   background-color: black;
}

p.card-text {
   font-size: small;
}

.card-subtitle{
   margin-top: -2rem;
}

.cocteles .card-body,
.shots .card-body,
.sandwiches .card-body {
   min-height: fit-content !important;
}

@media screen and (min-width: 576px) {
   .cocteles .card-body {
      min-height: 157px !important;
   }

   .shots .card-body {
      min-height: 95px !important;
   }

   .sandwiches .card-body {
      min-height: 166px !important;
   }
}